---
layout: default
---
<h1>Hello, I'm <span style="color: blue;">Arhant!</span></h1>
<h2>Here are some quick links</h2>
<ul>
    <li><a href="#">Here's my resume</a></li>
        <li><a href="/blog/">Take a look at my blog</a></li>
        <li><a href="https://www.linkedin.com/in/arhantbararia/">Find me on LinkedIn</a></li>
        <li><a href="https://www.github.com/arhantbararia">Take a look at my github profile</a></li>
        <li>Email is the best way to reach me, find me at <span class="email">arhantbararia@gmail.com</span></li>
        <li><a href="https://x.com/arhant_bararia">Find me on Twitter/X</a></li>
</ul>
<h2>Work</h2>
<ul>
    <li><strong>Boundspec | Feb 2025 - Present</strong><br>Founder<br>Boundspec is an experiments engine, where we run experiments and use findings to either put in-house products out in the world or solve niche problems for our B2B clientele</li>
    <li><strong>Aeos Labs | August 2024 - Feb 2025</strong><br>Full Stack Engineering Intern<br>Designed, developed, and experimented with AI-powered products, leveraging full-stack JavaScript/TypeScript, Python, and modern frameworks to deliver solutions.</li>
    <li><strong>Altalance | May 2024 - Aug 2024</strong><br>Co-Founder<br>Altalance was my B2B solutions company, where my team and I create tailored software solutions for businesses in the context of a "Freelance Townsquare"</li>
    <li><strong>Freelancing | May 2023</strong><br>Freelancer</li>
</ul>