---
layout: default
---
<div class="content-section">
    <h1>Hello, I'm <span class="highlight">Arhant</span>!</h1>
</div>
<div class="content-section">
    <h2>Here are some quick links</h2>
    <ul>
        <li><a href="https://www.overleaf.com/read/jttntkrgfbgy#ff87b0">Here's my resume</a></li>
        <li><a href="/blog/">Take a look at my blog</a></li>
        <li><a href="https://www.linkedin.com/in/arhantbararia/">Find me on LinkedIn</a></li>
        <li><a href="https://www.github.com/arhantbararia">Take a look at my github profile</a></li>
        <li>Email is the best way to reach me, find me at <span class="email">arhantbararia@gmail.com</span></li>
        <li><a href="https://x.com/arhant_bararia">Find me on Twitter/X</a></li>
    </ul>
</div>
<div class="content-section">
    <h2><span class="highlight">Currently Working On</span></h2>
    <ul>
        <li><strong><a href="https://github.com/arhantbararia/goat">GOAT</a></strong><br><br>GOAT (Go Orchestration & Automation Toolkit) is backend automation engine inspired by platforms like Zapier, IFTTT, and n8n. Built in Go, GOAT enables developers and teams to automate workflows by connecting triggers and actions across services. It solves the problem of repetitive manual tasks and complex integrations, making automation accessible for backend engineers, DevOps, and SaaS builders.</li>
        
        <li><strong><a href="https://github.com/arhantbararia/reconaid_go">GoSnoop</a></strong><br><br>GoSnoop is a powerful, API-driven reconnaissance framework built in Go. It automates the process of gathering intelligence on web assets by orchestrating a suite of popular open-source security tools. The system exposes RESTful endpoints to initiate scans, manage assets, and retrieve collected data, making it an ideal backend for a security operations dashboard.</li>
        
    </ul>
    <h2><span class="highlight">Work</span></h2>
    <ul>
        <li><strong>Cyethack | Dec 2023 - Aug 2025 </strong><br>Backend Developer<br>Part of core engineering team, Designed and developed Cyenet, vulnerability scanner and manager. Defined the system architecture, database schema implemented key components such as the web application information gatherer, vulnerability database manager and notification system and adopted a microservices-based design interconnected via REST APIs.</li>
        <li><strong>Cognizant | March 2023 - July 2023</strong><br>QA Engineer<br>Interned at Cognizant under their GenC Elevate program, specializing in Quality Assurance. Learned to write unit-tests and Automate Website Testing using Selenium with JAVA</li>
        <li><strong>Pearl Thoughts | May 2024 - Aug 2024</strong><br>DevOps Intern<br>Setting up Github workflows. Setting up AWS instances using Terraform. Automating installation of IT Tools like SnipeIT, Jenkins, Docker etc. using Ansible.</li>
        
    </ul>
</div>